.header {
    background-image: url(../../../assets/img/vintage-mapa-mundi.jpg);
    height: 100vh;
    background-size: cover;
}

.fixed-top {
    background: rgba(255, 255, 255, 0.8);
}

.form-control {
    height: 2rem;
}

.buscador {
    border: solid 1px grey;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    width: 15rem;
    border-right: none;
}

.btn-buscar {
    background: none;
    width: 2rem;
    color: gray;
    border-collapse: separate;
    border: solid 1px grey;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.btn-buscar:hover {
    transition: 0.3s;
    background-color: rgba(131, 131, 131, 0.849);
    color: #fff;
}